@import url(style.css);
@import url(variables.css);

.container{
  width: 100%;
  margin: auto;
  padding: 9px 350px;
}

header{
  grid-area: header;
  width: 100%  ;
  background-color: var(--color-header);
  padding: 0 100px;
  top: 0;
  z-index: 100;
  box-shadow: 0 5px 10px var(--sombra-header);
  position: fixed;
}


/*  
header izquierdo
*/


.header__container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.header__izquierdo{
  display: flex;
  align-items: center;
  flex: 0 1 300px;
}
  
.logo__img{
  width: 35px;
  margin-right: 15px;
  display: block;
}


/*
buscador
*/

.search{
  background-color: var(--search-color);
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 0 15px;
  width: 100%;
}

.search__icon{
  font-size: 1.2rem;
}

.search__input{
  width: 100%;
  background-color: transparent;
  padding: 8px;
  outline: none;
  border: none;
}

/*
header derecho
*/

.navigation{
  display: flex;
  align-items: center;
  gap: 20px;
}

.navigation__list{
  display: flex;
  align-items: center;
  list-style: none;
}

.navigation__item{
  display: flex;
}

.navigation__link{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2px;
  text-align: center;
  font-weight: 400;
  min-height: 52px;
  min-width: 85px;
  position: relative;
  transition: 1s;
}

.navigation__link:hover{
  color: var(--navigation-link-hover);
}

.navigation__icon{
  font-size: 1.5rem;
}

.navigation__spam{
  font-size: 1.5rem;
}

.navigation__link::after{
  content: '';
  width: 0;
  height: 2px;
  background-color: var(--navigation-link-hover);
  position: absolute;
  bottom: 0px;
  transition: width 0.3s;
}

.navigation__link:hover::after,
.navigation__link.active-link::after{
  width: 100%;
}

.online{
  position: relative;
}

.online::after{
  content: '';
  height: 7px;
  width: 7px;
  border: 2px solid #fff;
  border-radius: 50%;
  left: 20px;
  top: 0px;
  background-color: var(--online);
  position: absolute;
}

.profile{
  position: relative;
}

.navigation__profile{
  width: 30px;
  border-radius: 50%;
  display: block;
  cursor: pointer;
  position: relative;
}

/*menu despegable*/

.profiel-menu-warp{
  position: absolute;
  top: 100%;
  right: 0;
  width: 320px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
}

.profiel-menu-warp.open-manu{
  max-height: 400px;
}

.profile-menu{
  background-color: var(--navigation-link-hover);
  color: var(--color-header);
  padding: 20px;
  margin: 10px;
}

.user-info{
  display: flex;
  align-items: center;
}

.user-info img{
  width: 50px;
  border-radius: 50%;
  margin-right: 15px;  
}

.user-info h3{
  font-size: 500;
  margin-bottom: -7px;
}

.user-info a{
  color: var(--color-link-menu-despegable );
  font-size: 13px;
}

.profile-menu hr{
  border: 0;
  height: 1px;
  width: 100%;
  background-color: var(--color-header);
  margin: 15px 0 10px;
}

.profile-menu-link{
  display: flex;
  align-items: center;
  color: var(--color-header);
  margin: 12px 0;
  font-size: 14px;
}

.profile-menu-link p{
  width: 100%;
}

.profile-menu-link img{
  width: 35px;
  border-radius: 50%;
  margin-right: 15px; 
}