@import url(style.css);
@import url(variables.css);

/* inicio sidebar left */

.sidebar{
    grid-area: sidebar;
}

.sticky{
    position: sticky;
    top: 73px;
}

.sidebar-profile-box{
    background-color: var(--color-sidebar);
}

.sidebar-profile-info{
    padding: 0 25px;
}

.sidebar-profile-info img{
    width: 90px;
    border-radius: 50%;
    background-color: var(--color-sidebar);
    padding: 4px;
    margin-top: -45px;
}

.sidebar-profile-info h1{
    font-size: 20px;
    font-weight: 600;
    color: var(--navigation-link-hover);
}

.sidebar-profile-info h3{
    font-size: 14px;
    font-weight: 500;
    color: var(--color-letra-sidebar-left);
}

.sidebar-profile-info ul{
    list-style: none;
    margin: 20px 0;
}

.sidebar-profile-info ul li{
    width: 100%;
    margin: 5px 0;
    font-size: 13px;
}

.sidebar-profile-info ul li span{
    float: right;
    color: var(--color-span-sidebar-left);
}

.sidebar-profile-link{
    display: flex;
    align-items: center;
    border-top: 1px solid var(--color-letra-sidebar-left);
}

.sidebar-profile-link a{
    display: flex;
    flex-basis: 50%;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
    font-size: 13px;
    border-left: 1px solid var(--border-sidebar-left);
}

.sidebar-profile-link a:first-child{
    border-left: 0;
}

.sidebar-profile-link a img{
    width: 20px;
    margin-right: 10px;
}

.sidebar-activity{
    background-color: var(--color-sidebar);
    padding: 5px 25px;
    margin: 12px 0;
}

.sidebar-activity h3{
    color: var(--color-letra-sidebar-left);
    font-size: 14px;
    font-weight: 500;
    margin: 20px 0 10px;
}

.sidebar-activity a{
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 500;
    color: var(--color-sidebar-activity);
    margin: 4px 0;
    padding: 4px 2px;
    transition: 0.5s;
}

.sidebar-activity a:hover{
    background-color: var(--sidebar-activity-hover);
}

.sidebar-activity a i{
    font-size: 1.2rem;
    margin-right: 10px;
    font-weight: 600;
    color: var(--color-span-sidebar-left);
}

.discover-more-link{
    border-top: 1px solid var(--border-sidebar-left);
    text-align: center;
    margin-top: 20px;
    margin-left: -25px;
    margin-right: -25px;
}

.discover-more-link a{
    color: var(--color-span-sidebar-left);
    display: inline-block;
    margin: 10px 0;
}











