
:root{
  --background-body: #f4f2ee;
  --color-boby: #5f5f5f;
  --color-header: #fff;
  --sombra-header: rgba(0, 0, 0, 0.1);
  --search-color: #edf3f8;
  --color-texto: #6d6d6d;
  --navigation-link-hover: #222;
  --online: #41db51;
  --color-link-menu-despegable: #c9dbf8;
}